*{
  margin:0;
  padding:0;
  font-size: 16px;
}
body {
  height:100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:32px;
}

.container {
  padding: 2.4rem;
}

.border-dashed-red {
  border: 1px dashed red;
}



/* padding */
.padding-10 {
  padding: 1rem;
}
.padding-20 {
  padding: 2rem;
}

/* margin */
.margin-10 {
  margin: 1rem;
}
.margin-20 {
  margin: 2rem;
}

/* font */
.font-size-1 {
  font-size: 1rem;
}
.font-size-2 {
  font-size: 2rem;
}